<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
    Fasttemplate:
    php code inside template and  debuginfo demo
</title>
<body>
<p>The notice errors is because there is "Undefined variable cjwordforsearch  and action". </p>
<h3><font color="#0000FF">
    Fasttemplate:
    </font>
    php code inside template and  debuginfo demo
</h3>
    <p><i>Your IP is: </i>
   {IP} </p>
    <p><a href="index.html">Back to index</a></p>
</body>
</html>
